body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
}

/* HEADER */
header {
    background: #8e6f5c;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    background: #e9ded8;
    padding: 40px;
    text-align: center;
}

/* PRODUK */
#produk {
    padding: 30px;
}

.produk-container {
    display: flex;
    gap: 20px;
}

.produk-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

.harga {
    font-weight: bold;
}

button {
    background: #8e6f5c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* KERANJANG */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* CHECKOUT */
form {
    background: white;
    padding: 20px;
    width: 50%;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #8e6f5c;
    color: white;
    text-align: center;
    padding: 10px;
}
